@model AdoptMe1.Models.Animal

@{
    ViewBag.Title = "Pet Store - Home";
}
<div class="container d-flex" style="margin-top:8vh">
    @foreach (var animal in ViewBag.TopTwo)
    {
        <div class="card" style="width: 18rem; background-color: brown; color:white; margin-bottom:30px; margin-left:auto; margin-right:auto; ">
            <img src=@animal.ImageString class="card-img-top" alt="@animal.Name" />
            <div class="card-body"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name: @animal.Name</li>
                    <li class="list-group-item">Type: @animal.Type</li>
                    <li class="list-group-item">Age: @animal.Age</li>
                    <li class="list-group-item">Comments: @animal.Comments.Count</li>
                </ul>
                <div class="card-body">
                    <a class="myBtn" asp-controller="Catalog" asp-action="ShowDetails" asp-route-id="@animal.AnimalId">Details</a>
                </div>
            
        </div>
    }
</div>
