@model AdoptMe1.Models.Category

@{
    ViewData["Title"] = "Pet Store - Catalog";
}

<div>
    <select class="form-select-sm" id="catSelect">
        @{
            <option name="" disabled hidden selected>Select Category</option>
            foreach (var category in ViewBag.Category)
            {
                <option value="@category.CategoryId" name="id">@category.CategoryName</option>
                <a asp-controller="Catalog" asp-action="ShowByCategory" asp-route-id="@category.CategoryId">Details</a>

            }
        }
    </select>
   
    @foreach (var animal in ViewBag.Animals)
    {
        <div class="Card-Block">
            <div class="card" style="width: 18rem;">
                <img src=@animal.ImageString class="card-img-top" alt="@animal.Name" />
                <div class="card-body"></div>
                <ul class="list-group list-group-flus-rounded">
                    <li class="list-group-item">Name: @animal.Name</li>
                    <li class="list-group-item">Type: @animal.Type</li>
                    <li class="list-group-item">Age: @animal.Age</li>
                </ul>
                <div>
                    <a asp-controller="Catalog" asp-action="ShowByCategory" asp-route-id="@animal.CategoryId">Details</a>
                </div>
            </div>
        </div>
    }
</div>
